DATABASE_URL=postgresql+asyncpg://postgres.sqewbvycopykzfvhppuo:VectorlessRag2026@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
OPENAI_API_KEY=caveman
OPENAI_BASE_URL=https://cbdrt.dpdns.org/v1
SECRET_KEY=generate-a-random-64-char-string
CLIENT_URL=https://your-frontend.vercel.app
ENVIRONMENT=production
